<% content_for :title do %>
  New post - Members Only!
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "new_post", data: { turbo_track: "reload" } %>
  <%= javascript_include_tag "post-form", data: { turbo_track: "reload" }, defer: true %>
<% end %>

<% content_for :header_nav do %>
  <nav>
    <ul>
      <li><%= link_to "Back", root_path %></li>
      <li><%= link_to "Edit account", edit_user_registration_path %></li>
      <li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>
<% end %>

<% content_for :toast_messages do %>
  <% @post.errors.each do |e| %>
    <div class="toast error">
      <%= e.full_message %>
      <button type="button" class="close-toast">&times;</button>
    </div>
  <% end %>
<% end %>

<main>
  <h2>New post</h2>

  <%= form_with model: @post, class: "form new-post-form" do |f| %>
    <div>
      <%= f.label :title do |text| %>
        <%= text %>
        <%= f.text_field :title, minlength: 3, maxlength: 20, required: true %>
        <div id="title-length"></div>
      <% end %>
    </div>

    <div>
      <%= f.label :body do |text| %>
        <%= text %>
        <%= f.text_area :body, size: "38x8", maxlength: 220, required: true %>
        <div id="body-length"></div>
      <% end %>
    </div>

    <div>
      <%= f.button "Create" %>
    </div>
  <% end %>
</main>
